.footer {
  padding: 40px 20px;
  text-align: center;
  &__logo {
    display: inline-block;
    height: 40px;
    width: 145px;
    background-image: url("../img/logo-footer.svg");
    background-repeat: no-repeat;
    margin-bottom: 38px;
  }
  &__social {
    margin-bottom: 38px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #283645;
    margin-right: 15px;
  }
  &__link {
    display: inline-block;
    width: 27px;
    height: 34px;
    background-image: url("../img/icon-htmlacademy.svg");
    background-repeat: no-repeat;
    &:hover {
      background-image: url("../img/icon-htmlacademy--hover.svg");
    }
    &:active {
      opacity: 0.3;
    }
  }
  &__copyright {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (min-width: $tablet-width) {
  .footer {
    padding-top: 36px;
    padding-bottom: 36px;
    &__wrapper {
      margin: 0 auto;
      max-width: 800px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    &__logo,
    &__social {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer {
    padding-top: 70px;
    padding-bottom: 70px;
    &__wrapper {
      max-width: 1200px;
    }
    &__logo {
      width: 147px;
      background-image: url("../img/logo-footer-desktop.svg");
    }
    &__text {
      font-size: 18px;
    }
  }
}
