.reviews {
  padding: 50px 20px 10px 20px;
  &__wrapper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
  }
  &__info {
    display: none;
  }
  &__slider {
    display: flex;
    transition: 1.5s all;
  }
  &__name {
    margin-bottom: 31px;
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
    order: -1;
  }
  &__item {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    margin-bottom: 41px;
  }
  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    color: #283645;
  }
  &__button {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .reviews {
    padding-top: 110px;
    padding-bottom: 0;
    &__wrapper {
      width: 620px;
    }
    &__name {
      order: 0;
      font-weight: 700;
      font-size: 20px;
      line-height: 30px;
      margin-bottom: 17px;
    }
    &__text {
      font-weight: 400;
      font-size: 18px;
      line-height: 30px;
      margin-bottom: 51px;
    }
    &__info {
      display: inline;
      font-weight: 400;
      font-size: 14px;
      line-height: 30px;
    }
    &__item {
      margin-bottom: 46px;
      width: 620px;
    }
  }
}

@media (min-width: $desktop-width) {
  .reviews {
    padding-top: 72px;
    &__wrapper {
      width: 940px;
      &::before {
        content:"";
        display: block;
        width: 79px;
        height: 63px;
        background-image: url("../img/quotes.svg");
        background-repeat: no-repeat;
        margin: 0 auto 58px auto;
      }
    }
    &__item {
      width: 940px;
      margin-bottom: 0;
    }
    &__name {
      font-size: 24px;
    }
    &__info {
      font-size: 18px;
    }
    &__text {
      max-width: 688px;
    }
    &__button {
      display: block;
      position: absolute;
      cursor: pointer;
      z-index: 3;
      bottom: 151px;
      width: 22px;
      height: 41px;
      border: none;
      font-size: 0;
      background-color: transparent;
      background-repeat: no-repeat;
      &--left {
        background-image: url("../img/arrow-left.svg");
        left: 0;
      }
      &--right {
        background-image: url("../img/arrow-right.svg");
        right: 0;
      }
    }
  }
}
